[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cubeview"]
	path = cubeview
	url = https://github.com/cran/cubeview
[submodule "remote"]
	path = remote
	url = https://github.com/cran/remote
